{% extends "layout.html" %}

{% block header_content %}
    {% if can_create %}
        <a class="link" href="/new">Crear busqueda</a>
    {% endif %}
{% endblock header_content %}

{% block main %}
    <div class="searchList">
        <h2>Lista de Busquedas</h2>

        <div class="cards">
            {% for name,search in searches.items() %}
                <div class="card" id="{{ name }}">
                    <div class="card-content">
                        <h2>{{ name|title }}</h2>

                        <ul class="list list-scroll">
                            {% for location in search.locations %}
                               <li class="list-item">{{ location }},</li>
                            {% endfor %}
                        </ul>

                        <ul class="list">
                            <li class="list-item list-item-flex"><strong>Ambientes: </strong>{{ search.ambs }}</li>
                            <li class="list-item list-item-flex"><strong>Habitaciones: </strong>{{ search.rooms }}</li>
                            <li class="list-item list-item-flex"><strong>Valor: </strong>U$D {{ search.price }}</li>
                            <li class="list-item list-item-flex"><strong>Tamaño: </strong>{{ search.meters }} m&#xB2;</li>
                        </ul>

                        <div class="buttons">
                            {% for source in sources %}
                                <a class="button" href="/{{ name }}/{{ source }}">{{ source|title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}