<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROPIEDADES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <header>
        <h1>PROPIEDADES</h1>

        {% for name in names %}
            <div>
                
                <nav><h2>{{ name|title }}</h2>
                    {% for source in sources %}
                        <a href="/{{ name }}/{{ source }}">{{ source|title }}</a>
                    {% endfor %}
                </nav>
            </div>
        {% endfor %}
    </header>
</body>
</html>