{% extends "layout.html" %}

{% block main %}
    <form class="form" action="/new" method="post">
        <fieldset>
            <legend>Crear búsqueda de compra-venta</legend>

            <div class="formField">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" required>
            </div>
            
            <div class="formField">
                <label for="locations">Barrios</label>
                <select name="locations" id="locations" multiple required>
                    {% for location in search.locations %}
                        <option value="{{ loop.index - 1 }}">
                            {{ location|replace("-", " ")|title }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="formField">
                <label for="ambs">Ambientes</label>
                <select name="ambs" id="ambs" required>
                    {% for amb in search.ambs %}
                        <option value="{{ loop.index - 1 }}">
                            {{ amb|replace("-", " ")|title }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="formField">
                <label for="rooms">Dormitorios</label>
                <select name="rooms" id="rooms" required>
                    {% for room in search.rooms %}
                    
                        <option value="{{ loop.index - 1 }}">
                            {{ room|replace("-", " ")|title }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="formField">
                <label for="meters">Metros minimos</label>
                <input type="number" step="10" min="10" max="9999" value="10" name="meters" id="meters" required>
            </div>

            <div class="formField">
                <label for="price">Valor maximo</label>
                <select name="price" id="price" required>
                    {% for price in search.prices %}
                        <option value="{{ loop.index - 1 }}">
                            {{ price|replace("-", " ")|title }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <input class="button" type="submit" value="Crear">
        </fieldset>
    </form>
{% endblock main %}