<div class="details">
    <a class="link" href="{{ props_url }}" target="_blank">
        <h2>
            <span>Búsqueda: {{ name }} - {{ source }}: </span>
            <span id="amount">{{ props|length }}</span>
            {% if request.endpoint == 'list_rejected' %}
                <span> (rechazadas)</span>
            {% endif %}
        </h2>
    </a>

    <p>
        <strong>Barrios: </strong>
        {% for location in search.locations %}
            <span>{{ location }}, </span>
        {% endfor %}
    </p>

    <p>
        <strong>Ambientes: </strong>
        <span>{{ search.ambs }}</span>
    </p>

    <p>
        <strong>Dormitorios: </strong>
        <span>{{ search.rooms }}</span>
    </p>

    <p>
        <strong>Tamaño mínimo: </strong>
        <span>{{ search.meters }}  m&#xB2;</span>
    </p>

    <p>
        <strong>Valor máximo: </strong>
        <span>U$D {{ search.price }}</span>
    </p>
</div>