<div class="details">
    <a class="link" href="{{ props_url }}" target="_blank">
        <h2>
            <span>{{ name }} - {{ source }}: </span>
            <span id="amount">{{ props|length }}</span>
            {% if request.endpoint == 'list_rejected' %}
                <span> (rechazadas)</span>
            {% endif %}
        </h2>
    </a>

    <p>
        <strong>Barrios: </strong>
        {% for location in entity.locations %}
            <span>{{ search.locations[location|int]|replace("-", " ")|title }}, </span>
        {% endfor %}
    </p>

    <p>
        <strong>Ambientes: </strong>
        <span>{{ search.ambs[entity.ambs|int]|replace("-", " ")|title }}</span>
    </p>

    <p>
        <strong>Habitaciones: </strong>
        <span>{{ search.rooms[entity.rooms|int]|replace("-", " ")|title }}</span>
    </p>

    <p>
        <strong>Tamaño: </strong>
        <span>{{ entity.meters }}  m&#xB2;</span>
    </p>

    <p>
        <strong>Valor máximo: </strong>
        <span>U$D {{ search.prices[entity.price|int] }}</span>
    </p>
</div>